html {
    scroll-behavior: smooth;
}

.navbar {
    z-index: 25;
}

.logo {
    letter-spacing: 3px;
    font-size: larger;
    transition-duration: 1s;
    border-bottom: 3px solid #fff;   
}

.filter {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000de;
    mix-blend-mode: darken;
    height: 100%;
    width: 100%;
    z-index: 3;
}

/* +> NAVBAR */

@media all and (max-width: 600px) {
    #main-menu {
        display: none;
    }
}

/* +> HERO SECTION */

.hero {
    height: 90vh;
}

@media all and (min-width: 601px) and (max-width: 1200px) {
    .hero {
        height: 100vh;
    }
}

.hero-content {
    width: 50%;
    position: absolute;
    bottom: 50px;
}

@media all and (max-width: 600px) {
    .hero-content {
        width: 100%;
        position: static;
        margin-top: auto;
        margin-bottom: 25px;
    }
}

.hero-img {
    background-image: url('../assets/hero-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    z-index: -3;
    filter: brightness(0.65);
}

.hero-title {
    line-height: 1.2;
}

.hero-text {
    line-height: 1.5;
}

/* +> About Section */

#about {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

@media all and (min-width: 601px) and (max-width: 1200px) {
    #about {
        padding-top: 0;
        padding-bottom: 2.5rem;
    }
}

@media all and (max-width: 600px) {
    .self-container {
        display: none;
    }
}

.self-potrait {
    width: 45%;
}

.potrait-desc {
    width: 50%;
    position: absolute;
    bottom: -60px;
    right: 30px;
}

/* ACTIVITIES SECTION */

#activities {
    margin-top: 4em;
    background-color: #000;
    background-image: url('../assets/service.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media all and (max-width: 600px) {
    #activities {
        margin-top: 0;
    }
}

#activities > h1 {
    z-index: 5;
}

.service-content {
    z-index: 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media all and (max-width: 600px) {
    .service-content {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.service-img {
    max-height: 240px;
}

.service-author {
    color: gray;
}

/* BLOG SECTION */

@media all and (max-width: 1200px) {
    #blog {
        flex-direction: column;
    }
}

.blog-container {
    display: grid;
    grid-template-columns: repeat(3, 0.35fr);
    gap: 2rem;
}

@media all and (max-width: 600px) {
    .blog-container {
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 601px) and (max-width: 1200px) {
    .blog-container {
        gap: 1.2rem;
    }
}

.blog-item {
    box-shadow: var(--shadow-color);
    transition-duration: 0.4s;
}

.blog-item:hover {
    transform: translateY(-5px);
}

.blog-img {
    height: 170px;
}

/* FOOTER SECTION */

.social-icon a {
    transition-duration: 0.4s;
}

.social-icon a:hover {
    transform: translateY(-5px);
}

@media all and (max-width: 600px) {
    .footer-info {
        flex-direction: column;
    }
}